// ==================== PRIVACY POLICY PAGE ====================

.privacy-policy {
  background: $bg-color;
  padding: 0 5rem;

  h1,
  h3 {
    padding: 2rem 0;
    font-weight: 400;
  }
}

.privacy-policy-heading {
  padding-top: 8rem;

  h1 {
    font-size: clamp(40px, 8vw, 50px);
    padding-bottom: 2rem;
  }
}

.privacy-policy-text {
  h3 {
    font-size: clamp(30px, 8vw, 40px);
  }

  p {
    font-size: clamp(16px, 8vw, 20px);
    color: $text-color;
    font-weight: 100;
    letter-spacing: 0.5px;
    padding-bottom: 2rem;

    &:last-child {
      padding-top: 4rem;
    }
  }

  ul {
    padding-bottom: 2rem;

    li {
      font-size: clamp(16px, 8vw, 20px);
      color: $text-color;
      font-weight: 100;
    }
  }
}