// ==================== GENERAL RULES ====================

body {
  min-width: 320px;
  font-family: "Teko", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 300;
  background-color: $bg-color;
  scroll-behavior: smooth;
}

h1 {
  font-size: 4.25rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.625rem;
}
h4 {
  font-size: 1.625rem;
}
h5 {
  font-size: 1.625rem;
}
h6 {
  font-size: 1.225rem;
}
span {
  font-size: 2rem;
  color: $white;
}

.rotate {
  transform: rotate(540deg);
  transition: transform 0.5s ease;
}

::-webkit-scrollbar {
  display: none;
}

.container-fluid {
  padding: 0;
}

.section-title {
  position: relative;
  text-transform: uppercase;
}

.section-title span {
  position: relative;
  background-color: $bg-color;
  padding: 0 3rem;
  z-index: 10;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 100%;
  top: 52%;
  left: 0;
  border-top: 2px solid $text-color;
  opacity: 0.2;
}

.header-wrapper,
.wrapper,
.footer-wrapper {
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

.hide {
  opacity: 0;
  transition: all 2s ease;
}

.show {
  opacity: 1;
}

.highlight {
  color: $black !important;
}

.open {
  display: flex !important;
}

.none {
  display: none;
}

.block {
  display: block;
}

.overlay {
  display: none;
}