// ==================== VARIABLES ====================

$bg-color: #EDF0ED;
$text-color: #736c67;
$accent-color: #9e9b99;
$beige: #f5f5dc;
$black: #0a0a0a;
$white: #f0f0f0;
$index: calc(1vw + 1vh);
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$text-shadow: 1px 1px 5px black;
$gradient: linear-gradient(40deg, rgb(61, 61, 61) 0%, rgb(128, 116, 116) 100%, rgb(111, 107, 100) 100%);